In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel("https://raw.githubusercontent.com/sriharsha18-reddy/Assignment5-ML/main/weather_conditions.xlsx")
data

     Weather Temperature Humidity    Wind Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3      Rainy        Mild     High    Weak  Yes
4      Rainy        Cool   Normal    Weak  Yes
5      Rainy        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9      Rainy        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13     Rainy        Mild     High  Strong   No

In [ ]:
data.shape

(14, 5)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Weather      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Wind         14 non-null     object
 4   Play         14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [ ]:
data.isnull().sum()

Weather        0
Temperature    0
Humidity       0
Wind           0
Play           0
dtype: int64

In [ ]:
weather_freq = data["Weather"].value_counts()
print(f'Weather Frequency Table:\n{weather_freq}')

Weather Frequency Table:
Sunny       5
Rainy       5
Overcast    4
Name: Weather, dtype: int64

In [ ]:
temperature_freq = data["Temperature"].value_counts()
print(f'Temperature Frequency Table:\n{temperature_freq}')

Temperature Frequency Table:
Mild    6
Hot     4
Cool    4
Name: Temperature, dtype: int64

In [ ]:
humidity_freq = data["Humidity"].value_counts()
print(f'Humidity Frequency Table:\n{humidity_freq}')

Humidity Frequency Table:
High      7
Normal    7
Name: Humidity, dtype: int64

In [ ]:
wind_freq = data["Wind"].value_counts()
print(f'Wind Frequency Table:\n{wind_freq}')

Wind Frequency Table:
Weak      8
Strong    6
Name: Wind, dtype: int64

In [ ]:
play_freq = data["Play"].value_counts()
print(f'Play Frequency Table:\n{play_freq}')

Play Frequency Table:
Yes    9
No     5
Name: Play, dtype: int64

In [ ]:
likelihood_table = pd.crosstab(index=data['Play'], columns=[data['Weather'], data['Temperature'], data['Humidity'], data['Wind']], normalize='columns')

print(f'Likelihood Table:\n{likelihood_table}')

Likelihood Table:
Weather     Overcast                     Rainy                          Sunny  \
Temperature     Cool  Hot          Mild   Cool        Mild               Cool
Humidity      Normal High Normal   High Normal        High      Normal Normal
Wind          Strong Weak   Weak Strong Strong Weak Strong Weak   Weak   Weak
Play
No               0.0  0.0    0.0    0.0    1.0  0.0    1.0  0.0    0.0    0.0
Yes              1.0  1.0    1.0    1.0    0.0  1.0    0.0  1.0    1.0    1.0

Weather
Temperature    Hot      Mild
Humidity      High      High Normal
Wind        Strong Weak Weak Strong
Play
No             1.0  1.0  1.0    0.0
Yes            0.0  0.0  0.0    1.0

In [ ]:
prior_play = play_freq['Yes'] / len(data)
prior_play

0.6428571428571429

In [ ]:
weather = 'Sunny'
temperature = 'Mild'
humidity = 'High'
wind = 'Weak'

In [ ]:
posterior_prob = likelihood_table[weather][temperature][humidity][wind] * prior_play

print(f'Posterior Probability:{posterior_prob}')

Posterior Probability:Play
No     0.642857
Yes    0.000000
Name: Weak, dtype: float64